.feedbacks h1{
    white-space: nowrap;
    font-family: 'Adelia', sans-serif;
    display: flex;
    color: #ffcccb;
    margin: 0;
    font-size: 33px;
    font-weight: 500;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    display: block;
    
}

.feedbacks p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin:20px;
    color: #666;
    text-align: justify;
 
}

.feedbacks-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    justify-items: center; 
    align-items: center; 
    
  }
  
  .feedbacks-container img {
    width: 100%; 
    max-width: 1000px;
    height: auto; 
    transition: transform 0.3s; 
  }
  
  .feedbacks-container img:hover {
    transform: scale(1.2); 
  }
  
  .feedback:nth-child(even) {
    transform: translateY(20px); 
  }
  
  .feedback:nth-child(odd) {
    transform: translateY(-20px); 
  }
  
  /* Desktop */
  @media (max-width: 768px) {
    .feedbacks-container {
        grid-template-columns: 1fr; 
        gap: 15px;
    }

    .feedbacks-container img {
        max-width: 100%; 
    }
}
  
  /* Responsividade para telas muito pequenas (ex.: celulares) */
  @media (max-width: 480px) {
    .feedbacks-container {
        grid-template-columns: 1fr; 
        gap: 10px; 
    }

    .feedbacks-container img {
        max-width: 100%; 
    }

}

  
  

