
.App {
  /* text-align: center; */
  flex-direction: column;


}

.App-header ul {
  list-style: none;
  padding: 0;
}

.App-header ul li {
  display: inline-block;
  margin: 0 15px;
}

.App-header ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 200;
  font-size: 25px;
  transition: all 0.3s ease;
  
}
.App-header ul li a:hover {
  color: #ffcccb; 
  transform: scale(1.1); 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}



.App-header {
  background-color: rgba(188, 143, 143, 0.7);
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App h1{
  white-space: nowrap;
  font-family: 'Adelia', sans-serif;
  display: flex;
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 33px;
  font-weight: 500;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

@font-face {
  font-family: 'Adelia';
  src: url('./fonts/adelia.ttf') format('truetype'); /* Ajuste o caminho conforme necessário */
  font-weight: normal;
  font-style: normal;
}


.gabriela-foto{
  display: flex;
  max-height: 17vh;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 90px;
  border-radius: 50%;
  margin-right: 35px;
  border: 5px solid white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-bar{
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

/* Smartphone */
@media (max-width: 767px) {
  .App-header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .gabriela-foto {
    margin: 10px auto;
    max-height: 25vh;
  }

  .App h1 {
    font-size: 24px;
    text-align: center;
  }

  .App-header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .App-header ul li {
    margin: 5px 0;
  }

  .App-header ul li a {
    font-size: 18px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .App-header {
    justify-content: space-between;
    padding: 20px 50px;
  }

  .gabriela-foto {
    margin-left: 20px;
    max-height: 15vh;
  }

  .App-header ul li {
    margin: 0 20px;
  }
}


#body-title{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(65, 65, 65);
  display: flex;
  text-align: center;
  
}


