/* Card.css */
.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
  }

  .card-container a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-size: 25px;
    transition: all 0.3s ease;
  }

  
  .card {
    background: rgba(255, 204, 203, 0.5);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 70px;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    flex: 1 1 300px;
  }  
  
  .card:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;

  }

  
  .card-title {
    font-size: 2rem;
    margin-bottom: 10px;
    /* text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    color: rgb(65, 65, 65);
  }

  
  .card-description {
    font-size: 1.5rem;
    color: rgb(65, 65, 65);
    /* text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    text-align: left;
  }

  .ebook {
    width: 150px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
     
  }
  .image-card img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
    
  
  .card-link {
    font-size: 1.2rem;
    color: #FFFF;
    text-decoration: none;
  }

  

  @media (max-width: 767px) {
    .card-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .card {
        width: 60%; 
        margin: 10px 0;
    }

  
    .card-title {
      font-size: 24px;
      text-align: column;
    }
}

